/* usa-accordion
usa-tabs
usa-accordion__heading
usa-accordion__button
usa-accordion__content
usa-prose */

.usa-accordion.usa-tabs {
  span {
    background-color: transparent;
    .usa-accordion__button {
      background-color: white;
      color: black;
      padding-right: 2rem;
      border-bottom-color: transparent;
      &[aria-expanded="true"] {
        border: 4px solid lightgray;
        border-bottom: none;
        background-color: white;
        color: black;
        background-image: none;
      }
      &[aria-expanded="false"] {
        background-image: none;
        background-color: transparent;
        color: #2f70a8;
      }
      &[aria-expanded="false"]:hover{
        background-color: #2f70a8;
        color: white;
      }
    }
  }
  .usa-accordion__content {
    border: 4px solid lightgray;
    padding: 0.5rem 1.25rem 0.75rem;
    &[aria-hidden="false"] {
      background-color: #fff;
      margin-top: -2px;
      border-top: none;
    }
  }
}
@media screen and (min-width: 640px) {
  .usa-accordion.usa-tabs {
    width: auto;
    span {
      display: inline;
      width: auto;
 
      .usa-accordion__button {
        width: auto;
        display: inline-block;
        clear: both;
        margin-block: -0.25rem;
      }
    }
    .usa-accordion__content {
      float: left;
      clear: both;
      width: 100%;
    }
  }
}