.usa-table{
    a{
        color: #2f70a8;
    }
    tbody{
        vertical-align: text-top;
    }
}
.event-table th{
    background-color: #f2f2f2;
}
.series-type{
    display: block;
    font-weight: bold;
    font-size: 0.75rem;
    text-align: center;
}