.box-component{
    .usa-card__header{
        background-color: #363636;
        color: white;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        span{
            font-size: 0.8rem;
            margin-left: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        a{
            color: white;
        }
    }
    .usa-card__body{
        padding: 20px;
    }
    .title_icon{
    content: '';
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    overflow: hidden;
    }
    .usa-card__heading{
    margin-left: 2.5rem;
    }
    .light-background{
        .usa-card__footer{
            background-color: #F2F2F2;
        }
        .usa-card__body{
            background-color: #F2F2F2;
        }
        .usa-card__media{
            background-color: #F2F2F2;
        }
    }
    .dark-background{
        .usa-card__body{
            background-color: #183A57;
            color: white;
        }
        .usa-card__footer{
            background-color: #183A57;;
        }
    }
    .usa-card--flag{
        .usa-card__heading{
            margin-left: 0;
        }
        .usa-card__header{
            background-color: #F2F2F2;
            color: black;
            a{
                color: black;
            }
            span{
                margin-left: 0;
            }
        }
        .usa-card__body{
            padding: 20px;
        }
        span{
            padding-bottom: 0.5rem;
        }
        .location{
            display: block;
            font-weight: bold;
            font-size: 0.875rem;
        }
        .role{
            display: block;
            font-weight: bold;
            font-size: 0.875rem;
        }
    }
    .center-image{
        .usa-card__header{
            background-color: #F2F2F2;
            padding-top: 1.5rem;
            span{
                margin-left: 0;
                color: black;
            }
            h2{
                margin-left: 0;
            }
            a{
                color: #2f70a8;
            }
        }
        .usa-card__media{
            background-color: #363636;
            padding: 1.2rem;
        }
        .usa-card__img{
            background-color: transparent;
            top: -25px;
            position: absolute;
            left: 50%;
            margin-left: -44px;
            img{
                border: 4px solid #FFFFFF;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                width: 84px;
                max-height: 84px;
                margin-right: 10px;
                margin-bottom: 10px;
                float: left;
                aspect-ratio: 1/1;
            }
        }
        .usa-card__body{
            padding-top: 0.5rem;
        }
    }
    .sample-app{
        .usa-card__header{
            background-color: #F2F2F2;
            padding-top: 1.5rem;
            span{
                margin-left: 0;
                color: black;
            }
            h2{
                margin-left: 0;
                border-bottom: solid 1px black;
                color: black;
                padding-bottom: 1rem;
            }
        }
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 84px;
            max-height: 84px;
        }
        .sample-app__content{
            display: flex;
            gap: 2rem;
        }
        .principal-investigator{
            display: flex;
            a{
                color: #2f70a8;
            }
        }
        .location{
            display: block;
            font-weight: bold;
        }
        .usa-card__body{
            padding-top: 0;
        }
        .usa-card__media--inset{
            padding-left: 0;
        }
    }
    .profile-card{
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        }
        .usa-card__body{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 1.5rem;
            span{
                display: block;
                padding-bottom: 1rem;
                font-weight: bold;
                font-size: 1rem;
                a{
                    color: #2f70a8;
                }
            }
        }
    }
    .col-6-card{
        .usa-card__img img{
            height: auto;
        }
    }
    .blog-box{
        .dark-banner{
            background-color: #363636;
            color: white;
            padding: 15px 20px;
            align-items: center;
        }
        .usa-card__header{
            display: block;
            background-color: #F2F2F2;
            h2{
                a{
                    color: #2f70a8;
                }
            }
            .usa-card__heading{
                margin-left: 0;
            }
            span{
                color: black;
                margin-left: 0;
            }
            .name_date{
                border-bottom: solid black 1px;
                padding: 10px 0;
            }
        }
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 84px;
            max-height: 84px;
        }
        .blog-box__content{
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem;
        }
        .usa-card__body{
            padding-top: 15px;
        }
        .usa-card__img{
            padding-top: 15px;
        }
    }
    .monograph{
        .dark-banner{
            background-color: #363636;
            color: white;
            padding: 15px 20px;
            align-items: center;
        }
        .usa-card__header{
            display: block;
            background-color: #F2F2F2;
            h2{
                a{
                    color: #2f70a8;
                }
            }
            .usa-card__heading{
                margin-left: 0;
            }
            span{
                color: black;
                margin-left: 0;
            }
            .name_date{
                padding: 10px 0;
            }
        }
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            width: 200px;
            max-height: auto;
        }
        .blog-box__content{
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem;
        }
        .usa-card__body{
            padding-top: 15px;
        }
        .usa-card__img{
            padding-top: 15px;
        }
    }
}