.box-component{
    .usa-card__container{
        border: none;
        border-radius: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.07);
    }
    .icon-header{
        h2{
            margin-left: 2.5rem;
        }
        span{
            margin-left: 2.5rem;
        }
    }
    .usa-card__header{
        background-color: #363636;
        color: white;
        padding: 20px;
        display: flex;
        border-radius: 0;
        border-color: #363636;
        span{
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
        }
        a{
            color: white;
        }
    }
    .usa-card--header-first .usa-card__body{
        padding-top: 0;
    }
    .usa-card__body{
        padding: 20px;
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 1.125;
        font-weight: 300;
        color: #111111;
        a{
            color: #2f70a8;
        }
    }
    .usa-card__footer{
        a{
            background-color: #2f70a8;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
            font-size: 1rem;
            font-weight: 600;
            transition: background-color .4s ease-in-out;
        }
        a:hover{
            background-color: #183A57;
        }
    }
    .icon-label{
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
        font-size: 0.625rem;
    }
    .title_icon{
        content: '';
        position: absolute;
        top: 20px;
        left: 10px;
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        overflow: hidden;
    }
    .usa-card__heading{
        font-size: 1.25rem;
    }
    .usa-card__img{
        background-color: #F2F2F2;
        img{
            aspect-ratio: 1/1;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .usa-card__media--inset{
        padding-right: 0;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }
    .light-background{
        .usa-card__footer{
            background-color: #F2F2F2;
        }
        .usa-card__body{
            background-color: #F2F2F2;
        }
        .usa-card__media{
            background-color: #F2F2F2;
        }
    }
    .gray-background{
        background-color: white;
    }
    .dark-background{
        .usa-card__header{
            background-color: #10273a;
        }
        .usa-card__body{
            background-color: #183A57;
            color: white;
        }
        .usa-card__footer{
            background-color: #183A57;;
        }
        a{
            color: white;
        }
    }
    .usa-search{
        margin-bottom: 1rem;
    }
    .search-link{
        color: #2f70a8;
    }
    .round-img{
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 84px;
            max-height: 84px;
            margin-right: 10px;
            margin-bottom: 10px;
            float: left;
            aspect-ratio: 1/1;
        }
        a{
            color: #2f70a8;
        }
    }
    .name{
        a{
            color: #2f70a8;
            font-size: 1.25rem;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
        }
    }
    .name:hover{
        color: #1f496f;
    }
    .role{
        display: block;
        font-weight: bold;
        font-size: 0.875rem;
        font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
        color: #272727;
    }
    .email{
        a{
            color: #2f70a8;
        }
    }
    .usa-card--flag{
        .usa-card__media{
            width: auto;
        }
        .usa-card__heading{
            margin-left: 0;
            a{
                color: #2f70a8;
            }
        }
        .usa-card__header{
            background-color: #F2F2F2;
            color: black;
            a{
                color: black;
            }
            span{
                margin-left: 0;
            }
        }
        .usa-card__body{
            padding: 20px;
        }
        span{
            padding-bottom: 0.5rem;
        }
        .location{
            display: block;
            font-weight: bold;
            font-size: 0.875rem;
        }
        .role{
            display: block;
            font-weight: bold;
            font-size: 0.875rem;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
            color: #272727;
        }
    }
    .center-image{
        .usa-card__header{
            background-color: #F2F2F2;
            padding-top: 3rem;
            span{
                margin-left: 0;
                color: black;
            }
            h2{
                margin-left: 0;
            }
            a{
                color: #2f70a8;
            }
        }
        .usa-card__media{
            background-color: #363636;
            padding: 1.2rem;
        }
        .usa-card__img{
            background-color: transparent;
            top: -25px;
            position: absolute;
            left: 50%;
            margin-left: -44px;
            img{
                border: 4px solid #FFFFFF;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                width: 84px;
                max-height: 84px;
                margin-right: 10px;
                margin-bottom: 10px;
                float: left;
                aspect-ratio: 1/1;
            }
        }
        .usa-card__body{
            padding-top: 0.5rem;
        }
    }
    .sample-app{
        .usa-card__header{
            background-color: #F2F2F2;
            padding-top: 1.5rem;
            span{
                margin-left: 0;
                color: black;
            }
            h2{
                margin-left: 0;
                border-bottom: solid 1px black;
                color: black;
                padding-bottom: 1rem;
            }
        }
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 84px;
            max-height: 84px;
        }
        .sample-app__content{
            display: flex;
            gap: 2rem;
        }
        .principal-investigator{
            display: flex;
            a{
                color: #2f70a8;
            }
        }
        .location{
            display: block;
            font-weight: bold;
        }
        .usa-card__body{
            padding-top: 0;
        }
        .usa-card__media--inset{
            padding-left: 0;
        }
    }
    .profile-card{
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            height: -webkit-fill-available;
        }
        .usa-card__body{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 1.5rem;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
            color: #111111;
            font-size: 1.125rem;
            font-weight: 300;
            margin-left: 10rem;
            padding-right: 0;
            span{
                display: block;
                font-weight: bold;
                font-size: 0.875rem;
                font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
                color: #272727;
                a{
                    color: #2f70a8;
                }
            }
            a{
                color: white;
            }
            .email{
                font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
                font-size: 1.125rem;
                font-weight: 300;
            }
            .email:hover{
                color: #1f496f;
            }
            .content-header{
                font-size: 1.125rem;
                font-weight: 700;
                margin-bottom: 0;
                margin-left: 0;
            }
            .content-list{
                li{
                    margin-left: 2rem;
                }
            }
        }
        .flag-button{
            display: flex;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            font-size: 1rem;
            font-weight: 600;
            a{
                border-radius: 0;
                background-color: #2f70a8;
                font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
            }
            a:hover{
                background-color: #183A57;
            }
        }
        .semi-button{
            border-left: 1px solid #00bde3;
        }
    }
    .profile-card-small{
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            height: -webkit-fill-available;
        }        
        .usa-card__body{
            display: grid;
            grid-template-columns: auto auto;
            gap: 1.5rem;
            font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
            color: #111111;
            font-size: 1.125rem;
            font-weight: 300;
            padding-right: 0;
            margin-left: 6rem;
            span{
                display: block;
                font-weight: bold;
                font-size: 0.875rem;
                font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
                color: #272727;
                a{
                    color: #2f70a8;
                }
            }
            a{
                color: white;
            }
            .email{
                font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
                font-size: 1.125rem;
                font-weight: 300;
            }
            .email:hover{
                color: #1f496f;
            }
        }
        
    }
    .col-6-card{
        .usa-card__img img{
            height: auto;
        }
    }
    .blog-box{
        a{
            color: #2f70a8;
        }
        .dark-banner{
            background-color: #363636;
            color: white;
            padding: 15px 20px;
            align-items: center;
        }
        .usa-card__header{
            display: block;
            background-color: #F2F2F2;
            h2{
                a{
                    color: #2f70a8;
                }
            }
            .usa-card__heading{
                margin-left: 0;
            }
            span{
                color: black;
                margin-left: 0;
            }
            .name_date{
                border-bottom: solid black 1px;
                padding: 10px 0;
            }
        }
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 84px;
            max-height: 84px;
        }
        .blog-box__content{
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem;
        }
        .usa-card__body{
            padding-top: 15px;
        }
        .usa-card__img{
            padding-top: 15px;
        }
    }
    .monograph{
        .dark-banner{
            background-color: #363636;
            color: white;
            padding: 15px 20px;
            align-items: center;
        }
        .usa-card__header{
            display: block;
            background-color: #F2F2F2;
            h2{
                a{
                    color: #2f70a8;
                }
            }
            .usa-card__heading{
                margin-left: 0;
            }
            span{
                color: black;
                margin-left: 0;
            }
            .name_date{
                padding: 10px 0;
            }
        }
        img{
            border: 4px solid #FFFFFF;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            width: 200px;
            max-height: auto;
        }
        .blog-box__content{
            display: grid;
            grid-template-columns: auto auto;
            gap: 1rem;
        }
        .usa-card__body{
            padding-top: 15px;
        }
        .usa-card__img{
            padding-top: 15px;
        }
        .usa-button-group{
            display: grid;
            grid-template-columns: 1.5fr 1.5fr 2fr;
        }
    }
}