.box-component{
    .usa-card__header{
        background-color: #363636;
        color: white;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        span{
            font-size: 0.8rem;
            margin-left: 2.5rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .usa-card__body{
        padding: 20px;
    }
    .title_icon{
    content: '';
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    overflow: hidden;
    }
    .usa-card__heading{
    margin-left: 2.5rem;
    }
}