.usa-card__header{
    background-color: #2f70a8;
    color: white;
    padding: 15px 20px;
}
.usa-card__body{
    padding: 20px;
}
.usa-card__img{
    padding-top: 1rem;
}
.icon-image{
    img{
        height: auto;
        width: 80px;
        margin-left: 3rem;
    }
}
.list-card{
    .usa-card__body{
        margin-left: 1.5rem;
    }
    a{
        color: #2f70a8;
    }
    .bold-link{
        font-weight: bold;
    }
}