.timeline-background{
    background-color: #f2f2f2;
    padding: 3rem 0;
    color: #111111;

    .timeline-container{

        .row{}
        .col{}
        h2{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1.25rem;
        }
        .timeline{
            width: 100%;
            position: relative;
            padding: 1px 0;
            list-style: none;

            .timeline-label{
                position: relative;
                float: left;
                clear: left;
                top: 1px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.5rem;
                padding: 0;
                text-align: center;

                .label{
                    font-size: 1.375rem;
                    font-weight: 700;
                    padding: 0.5rem 1.75rem;
                    border-radius: 2rem;
                    background-color: #183a57;
                    color: #fff;
                    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
                }
            }
        }
        .timeline::before{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            height: 100% !important;
            margin-left: 2px;
            border-right-width: 4px;
            border-right-color: rgba(52, 48, 104, 0.1);
            border-right-style: solid;
            content: " ";
            display: block;
        }
    }

}