.timeline-container{
    max-width: 720px;
    position: relative;
    justify-content: center!important;
    flex: 0 0 auto;
    width: 100%;
    background-color: #f2f2f2;
    padding: 3rem 0;
    color: #111111;
    height: 1600px;
    h2{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }
    .timeline{
        width: 100%;
        padding: 1px 0;
        list-style: none;
        .timeline-label{
            position: relative;
            float: left;
            clear: left;
            top: 1px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5rem;
            padding: 0;
            text-align: center;
            .label{
                font-size: 1.375rem;
                font-weight: 700;
                padding: 0.5rem 1.75rem;
                border-radius: 2rem;
                background-color: #183a57;
                color: #fff;
                box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            }
        }
        .timeline-label::before{
            box-sizing: border-box;
        }
        .timeline-label::after{
            content: "";
            display: table;
            clear: both;
        }
        .timeline-item{
            padding-left: 0;
            padding-right: 2rem;
            position: relative;
            float: left;
            clear: left;
            width: 50%;
            margin-bottom: 2rem;
            .timeline-point{
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #183a57;
                box-shadow: 0 0 0 3px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
                transform: translateZ(0);
                top: 18px;
                right: -7px;
            }
            .timeline-event{
                position: relative;
                float: left;
                width: 100%;
                background: white;
                border-radius: 3px;
                padding: 1em;
                box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
                transform: translateZ(0);
            }
            .timeline-event::before{
                top: 10px;
                right: -14px;
                border-top: 14px solid transparent;
                border-left-width: 14px;
                border-left-style: solid;
                border-right-width: 0;
                border-right-style: solid;
                border-bottom: 14px solid transparent;
            }
            .timeline-event::after{
                top: 10px;
                right: -14px;
                border-top: 14px solid transparent;
                border-left-width: 14px;
                border-left-style: solid;
                border-right-width: 0;
                border-right-style: solid;
                border-bottom: 14px solid transparent;
            }
        }
        .timeline-item::before{
            content: "";
            display: table;
        }
        .timeline-item::after{
            clear: both;
        }
    }
}
.timeline-container::before{
    content: " ";
    display: block;
    border-right-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100% !important;
    margin-left: 2px;
    border-right-width: 4px;
    border-right-color: rgba(52, 40, 104, 0.1);
}