.usa-hero{
    background-image: none;
    background-position: right 30px center;
    background-size: 50%;
    height: auto;
    border: 2px solid;
    background-repeat: no-repeat;
    background-color: #002552;
    width: 100%;
    border: 5px solid #002552;
    margin-bottom: 20px;
    font-family: Lora, serif;
    font-size: 1.06rem;
    line-height: 1.5;
    color: #fff;
    .usa-hero__callout {
        background-color: #002552;
        padding: 0;
    }
    .hero-image img {
        padding-bottom: 1rem;
        height: 100%;
        width: 100%;
    }
    .usa-hero__heading{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 2.5rem;
        span{
            color: #00bde3;
            font-style: normal;
        }
    }
    .hero-landing{
        .usa-hero__callout{
            max-width: 30rem;
        }
    }
    .hero-content{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        gap: 1rem;
    }
    @media only screen and (max-width: 800px){
        .hero-content{
            display: block;
        }
        .usa-hero__callout{
            width: 100%;
        }
    }
}