.usa-hero {
    background: url(/assets/images/hero-bg-texture-od.jpg) no-repeat;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    font-family: Lora, serif;
    .usa-hero__callout {
    padding: 0;
    }
    .hero-image{
        background-image: url(/assets/images/hero-bg-image-od-A.jpg);
        max-width: 55%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .usa-hero__heading{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 2.5rem;
    }
    .usa-button{
        background-color: white;
        color:#002552;
    }
}
.text-img-container::after{
    background: linear-gradient(to left, transparent 0%, 
    rgba(0, 27, 55, 0.028) 11.9%, rgba(0, 27, 55, 0.104) 22.5%, 
    rgba(0, 27, 55, 0.216) 32.2%, rgba(0, 27, 55, 0.352) 41.2%, 
    rgba(0, 27, 55, 0.5) 50%, rgba(0, 27, 55, 0.648) 58.8%, 
    rgba(0, 27, 55, 0.784) 67.8%, rgba(0, 27, 55, 0.896) 77.5%, 
    rgba(0, 27, 55, 0.972) 88.1%, #001b37 100%);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    transform: scaleX(-1);
}
.hero-landing{
    .usa-hero__callout{
        max-width: 30rem;
    }
    .hero-image img{
        top: 40px;
        height: 100%;
        right: 0%;
    }
    .usa-button{
        width: 50%;
    }
}
.text-img-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.hero-btns{
    margin-top: 1rem;
    a{
        display: block;
    }
    .share-page{
        margin-top: 1rem;
        color: white;
        .fa-solid{
            margin-left: 0.5rem;
        }
    }
}