.usa-button--secondary, .usa-button--secondary:hover{
    background-color: white;
    border: 1px solid #2f70a8;
}
.usa-button--secondary:visited{
    color: #2f70a8;
    border: 1px solid #2f70a8;
}